<div class="row animated fadeIn">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #input (keyup)="searcByHospital(input.value)" type="text" class="form-control" placeholder="Buscar Hospital...">

      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn" *ngIf="loading">
  <div class="col-sm-12">
    <div class="alert alert-warning text-center">
      <strong> CARGANDO... </strong>
      <br>
      <i class="fa fa-refresh fa-spin fa-2x"></i>
      <br>
      <span> Espere Por Favor...!! </span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <div class="text-right">
          <button (click)="modalCreateHospital()" type="button" class="btn waves-effect waves-light btn-rounded btn-primary">
          <i class="fa fa-plus"></i>
            Crear hospital
          </button>
        </div>

        <h3 class="card-title"> Hospitales Registrados (<small> {{ _hospitalService.totalHospitales }} </small>)</h3>

        <table class="table table-hover">
          <thead>
          <tr>
            <th>Foto</th>
            <th>Hospital</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let hospital of hospitales">
            <td class="w70">
              <img (click)="updateImage(hospital._id)" [src]="hospital.img | image: 'hospital'" class="img-50 pointer">
            </td>
            <td>

              <input [(ngModel)]="hospital.nombre" type="text" name="nombre" class="form-control" placeholder="Nombre del hspital">

            </td>
            <td>
              <button (click)="saveByHospital(hospital)" class="btn btn-primary">
                <i class="fa fa-save"></i>
              </button>

              <button (click)="deleteByHospital(hospital)" class="btn btn-danger">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <!--<button (click)="changeOfSet(-5)" class="btn btn-secondary">-->
          <!--Anterior-->
        <!--</button>-->

        <!--<button (click)="changeOfSet(5)" class="btn btn-secondary">-->
          <!--Siguiente-->
        <!--</button>-->

      </div>
    </div>
  </div>
</div>
